name: Docker Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t vcp-explorer-api:ci .
